<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="HostSmtp" value="smtp.zaq.wsx" />
		<add key="Port" value="587" />
		<add key="EnableSsl" value="true" />
		<add key="SenderName" value="ReportService" />
		<add key="SenderEmail" value="sender@zaq.wsx" />
		<add key="SenderEmailPassword" value="encrypt:password" />
		<add key="ReciverEmail" value="reviver@zaq.wsx" />
		<add key="SendHours" value="8" />
		<add key="IntervalInMinutes" value="60" />
		<add key="EnableSendingReports" value="true" />
	</appSettings>
</configuration>